*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins;
}

 .container{
    position: sticky;
    top: 0;
    box-shadow: 0px 5.20673px 72.8942px rgba(0, 0, 0, 0.12);
    z-index: 999;
}

.navbar{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
  

}

.log-con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.hamburger{
    font-size: 40px;
    color: white;
    display: none;
}

.nav-items{
    display: flex;
    align-items: center;
    
}


.nav-item a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 30px;
    outline: none;
    transition: all ease 0.2s;

}

.nav-item a:hover{
    color: red;
}

.search{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    border-radius: 3px;
    padding: 5px  10px;

}

.search input{
    outline: none;
    background-color: transparent;
    border: none;
}

.search button{
    border: none;
    cursor: pointer;
    background: transparent;
    outline: none;
}

.profile{
    margin-left: 10px;
}
.user-con{
    height: 40px;
    width: 40px;
    background-color: aliceblue;
    border-radius: 50%;
}


.banner{
    height: 75vh;
    background: url('./assets/banner1.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    z-index: -1;

    align-items: center ;
    justify-content: flex-end;
}

.text-con{
    position: absolute;
border-radius: 10px;
    margin-top: 200px;
    margin-right: 70px;
    height: 100px;
    width: 400px;
}



.con-title{
   padding: 40px 0 0 0;
   text-align: center;

    
}

.tet{
    font-size: 40px;
    font-weight: 500;
}

.items-con{
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.items-con .item-link{
    min-width: 200px;
    text-decoration: none;
    margin-bottom: 40px;
    /* margin:  10px; */
}
.item{
    display: flex;
    flex-direction: column;
    border: 1px solid black;

    
}
.item-image-con{
    height: 150px;
    width: 230px;
    background-color: green;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    
}
.item-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.item-tag{
    position: absolute;
    margin: 15px 10px 0 0;
    background-color: red;
    font-size: 15px;
    padding: 2px 7px;
    color: white;

  

    
    
}
.item-desc{
    margin: 10px 4px;
    
    
}
.item-title{
    color: black;
    font-size: 20px;
    
    
}
.item-detail{
    color: black;
    font-size: 15px;

    
}
.item-action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    padding: 0px 5px;
}
.item-price{
    color: black;
    font-size: 18px;
    
}
.item-rent{
    background: red;
    padding: 6px 10px;
    color: white;
    cursor: pointer;
    width: 100%;
    text-align: center;
    
}

.card-con{
    padding: 10px 50px;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    justify-content: space-between;
    width: 300px;
    padding: 15px 10px;
}

.prof-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: aqua;
    margin-bottom: 20px;
}

.prof-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review{
    text-align: center;
    font-size: 15px;

}

.rev-name{
    margin: 10px 0;
    text-align: center;
    font-size: 25px;
}
@media screen and (max-width: 1024px){
    .nav-item a{
 
        margin-right: 15px;
  
    
    }

    .items-con{
        flex-direction: column;
        flex-wrap: nowrap;
        
        
        
                
            }

}



@media screen and (max-width: 768px){
    .navbar{
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: black;
    }

    .hamburger{
        cursor: pointer;

        display: flex;
    }

    .nav-items{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100vh;
        width: 70%;
        position: fixed;
         top: 0;
         left: -100%;
        /* z-index: 999; */
        background: red;
        padding: 10px ;
        transition: all ease 600ms;

        
    }

    .show{
        left: 0;
    }

    .nav-item{
        padding: 20px 0;
    }

.banner{
    height: 60vh;
}

    .text-con{
        margin-top: 60px;
        margin-right: 10px;
        height: 100px;
        width: 200px;
    }

 

    
    .items-con{
    flex-wrap: nowrap; 
    padding: 20px 20px;

    }

  

    .item{
        display: flex;
        flex-direction: column;

        
    }
    .item-image-con{
        height: 150px;
        width: 250px;
        position: relative;
        z-index: -1;


        
    }
    .item-image{
        height: 100%;
        width: 100%;
        object-fit: cover;
        
    }
    .item-tag{
        position: absolute;
        margin: 15px 10px 0 0;
        font-size: 15px;
        padding: 2px 7px;
      
    
        
        
    }
  

    .con-title{
        padding: 40px 0 0 20px ;
         
     }
     .tet{
         font-size: 30px;
     }
    
}
